{% extends "_includes/default.njk" %}

{% block title %}It does work{% endblock %}
{% block header %}{%include "_header.njk"%}{% endblock %}
{% block content %}
<div class="container flex h-screen flex-col items-start bg-red-400">
  <div class="mx-auto sm:w-3/4 sm:mx-0 sm:ml-auto sm:mt-32 mt-16 sm:pr-8">
    <img src="https://source.unsplash.com/200x200" class=" rounded-md max-w-full w-32 h-auto shadow sm:ml-auto" alt="">
  </div>
  <div class="w-full mx-auto sm:mx-0 mt-2 sm:mt-24">
    {% include "_logo.njk" %}
  </div>
  <div class="text-center sm:text-left leading-11 sm:leading-16 w-full sm:w-3/4 mx-auto sm:mx-0 sm:ml-auto mt-6 text-2xl  sm:text-4xl sm:mt-20 text-gray-700 sm:pr-8">
    <p>
      Take some time to focus on your <em class="display">health</em>, <em class="display">wellbeing</em> and <em class="display">fitness</em>
    </p>
    <button class="btn mt-10 sm:mt-20 mx-auto sm:mx-0 small:mr-auto ">get started<svg xmlns="http://www.w3.org/2000/svg" class=" h-8 w-8 ml-2" viewBox="0 0 21 21"><g fill="none" fill-rule="evenodd" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" transform="translate(4 5)"><polyline points="12.329 7.328 12.328 1.67 6.671 1.669" transform="scale(1 -1) rotate(45 20.36 0)"/><line x1="13.5" x2=".5" y1="4.5" y2="4.5"/></g></svg></button>
  </div>
</div>  
{% include "_promo.njk"%}  
{% endblock %}