{% macro button(text='', url=false, disabled=false) %}
{% set disabledCode = 'disabled=disabled aria-disabled=true' %}
{% set buttonClass = 'w-full rounded-sm py-4 bg-teal-900 text-teal-300 uppercase tracking-widest font-semibold hover:bg-canary focus:outline-none focus:shadow-outline hover:text-teal-900 active:bg-teal-900 shadow-lg' %}
{% if url %}
<a class="{{ buttonClass }}" href="{{ url }}" role="button">{{ text }}</a>
{% else %}
<button class="{{ buttonClass }}" type="submit" {{ disabledCode if disabled }}>{{ text }}</button>
{% endif %}
{% endmacro %}