{% set listTitle = "font-meta block uppercase text-sm font-semibold mb-3 tracking-widest text-gold flex-auto"  %}
{% set listItem = "mb-6 last:mb-0 w-full flex flex-col w-full"  %}
{% macro introListitem(title,text) %}

<li class="{{ listItem }}"> <span class="{{ listTitle }}">{{ title }}</span>
    <p class="flex-grow">
        {{ text }}
    </p>
</li>

{% endmacro %}